.logo-section {
    margin-top: 150px;
    margin-bottom: 100px;
}

.logo-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    text-align: center;
    margin-bottom: 14px;
}

.logo-description {
    font-weight: 400;
    font-size: 16px;
    color: #6d4c4c;
    text-align: center;
    margin-bottom: 50px;
}

.logo-container {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.logo img {
    mix-blend-mode: luminosity;
    width: 120px;
    height: 35px;
}

@media (max-width: 576px) {
    .logo-container {
        flex-direction: column;
        align-items: center;
    }    
    .logo-title {
        font-size: 32px;
    }
    .logo-description {
        font-weight: bold;
    }
    .logo-section {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}